@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background-color: #267365;
  height: 100%;
}
#__next {
  height: 100%;
}
body {
  font-family: 'Zen Maru Gothic', sans-serif;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}
.comment ::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 3px;
  border-width: 1;
  box-shadow: 1%;
}

.comment ::-webkit-scrollbar {
  width: 1px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: #33f2d0;
  border-radius: 3px;
  border-width: 1;
  box-shadow: 1%;
}
::-webkit-scrollbar {
  width: 1px;
  height: 3px;
}
